/* --- HERO SECTION --- */
.hero {
    background-color: #3d2817;
    color: #ffffff;
    text-align: center;
    padding: 100px 20px;
    background-image: linear-gradient(rgba(61, 40, 23, 0.75), rgba(61, 40, 23, 0.75)), url('https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    background-position: center;
}
.hero h2 { font-size: 3em; margin-bottom: 10px; color: #fbbf24; }
.hero p { font-size: 1.2em; margin-bottom: 30px; color: #fcd34d; }


.combos-destacados {
    padding: 60px 20px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.combos-destacados h2 {
    color: #d97706;
    font-size: 2.5em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.combos-destacados > p {
    font-size: 1.1em;
    margin-bottom: 35px;
    color: #555;
}

/* Cuadrícula 2x2 */
.combos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

/* Tarjeta de comidas*/
.combo-card {
    background: #18181b; 
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
    border: 3px solid #27272a;
    transition: transform 0.3s ease, border-color 0.3s ease;
    display: flex;
    flex-direction: column;
}

.combo-card:hover {
    transform: translateY(-5px);
    border-color: #fbbf24;
}

.combo-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-bottom: 3px solid #fbbf24;
}

.combo-info {
    padding: 20px 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.combo-info h3 {
    color: #fbbf24; 
    font-size: 2.2em;
    margin: 0 0 10px 0;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.combo-info p {
    font-size: 1.05em;
    line-height: 1.4;
    margin-bottom: 15px;
    color: #e4e4e7;
    font-weight: 600;
}

.combo-precio {
    font-size: 2.5em;
    color: #ffffff;
    font-weight: 900;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}


@media (max-width: 768px) {
    .combos-grid {
        grid-template-columns: 1fr;
    }
}
